# conf.template
server {
    listen 8080 default_server;
    listen [::]:8080 default_server;

    root my_basedir_placeholder/tmp/html;
    index index.html;

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }

    location /video {
        types {
            application/vnd.apple.mpegurl m3u8;
            video/mp2t ts;
        }
        alias my_basedir_placeholder/tmp/video;
        add_header Cache-Control no-cache;
    }
}
